<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Course Listing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'courses/main.css' %}">
  </head>
  <body>
    <header>
      <h1>Course Listing</h1>
      <p>Welcome to our platform for exploring and enrolling in various courses.
        Expand your knowledge and skills with our wide range of courses.</p>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses_list/">Courses</a></li>
        <li><a href="/register/">Register</a></li>
        <li><a href="/login/">Login</a></li>
      </ul>
    </nav>

    <main>
      {% block content %}
      {% endblock %}
    </main>


    <footer>
      <p>&copy; 2024 Course Listing. All rights reserved. (Dummy placeholder)</p>
    </footer>
  </body>
</html>